.destination-container {
  display: flex;
  flex-wrap: no wrap;
  justify-content: space-between;
  overflow-x: auto;
  padding: 20px 40px;
}

div.destination {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: teal;
}
