/* TODO Add site wide styles */
html {
  margin: 0;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 4%,
    rgba(2, 18, 54, 1) 17%,
    rgba(2, 42, 79, 1) 30%,
    rgba(2, 61, 99, 1) 42%,
    rgba(1, 89, 128, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
}
